<!DOCTYPE html>
<html lang="en">

<head id="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

  <link rel="stylesheet" href="../_common/reset.css">
  <link rel="stylesheet" href="../_common/base.css">
  <link rel="stylesheet" href="../_common/temp.css">
  <link rel="stylesheet" href="style.css">

  <script src="script.js" defer></script>
  <script src="../_common/temp.js" defer></script>

  <title>Pacer - Quests</title>
</head>

<body id="body">
  <header>
    <a href="../home/index.html">◁ Home</a>
    <h1>Quests</h1>
    <a href="../activities/index.html">Activities ▷</a>
  </header>

  <main>
    <div id="toolbar">
      <button onclick="location.href='../take-quest/index.html'">Take Same Quest</button>
      <button>Archive Quest</button>
    </div>
    
    <div class="wrapper">
      <ul id="quests">
        <li>Learn Spanish 1 hour</li>
        <li>Do Yoga 30 min</li>
        <li>Read 10 pages</li>
        <li>Meditate 15 min</li>
        <li>Piano Practice 1 hour</li>
        <li>Train with weights 2 rounds</li>
        <li>Run 5 km</li>
        <li>Swim 1 km</li>
        <li>Reflect on the day 10 min</li>
        <li>Write in journal 10 min</li>
      </ul>
    </div>
  </main>
</body>

</html>
