main {
  gap: 14px;
}


:has(>#activities) {
  /* width: 90%; */
}

#activities {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  height: 100%;
  align-content: flex-start;
  overflow-x: auto;
}

#activities a {
  display: block;
  padding: 5px 10px;
  background: #ddd;
  border-radius: 5px;
  width: max-content;
  max-width: 252px;
  cursor: pointer;
}
