<!DOCTYPE html>
<html lang="en">

<head id="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

  <link rel="stylesheet" href="../-common/reset.css">
  <link rel="stylesheet" href="../-common/base.css">
  <link rel="stylesheet" href="../-common/temp.css">
  <link rel="stylesheet" href="style.css">

  <!-- <script src="script.js" defer></script> -->
  <script src="../-common/temp.js" defer></script>

  <title>Pacer - Take Quest</title>
</head>

<body id="body">
  <header>
    <a href="../activities/index.html">◁ Activities</a>
    <h1>Take Quest</h1>  
    <a href="../quests/index.html">Quests ▷</a>
  </header>

  <main>
  </main>
</body>

</html>
