<!DOCTYPE html>
<html lang="en">

<head id="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

  <link rel="stylesheet" href="../_common/reset.css">
  <link rel="stylesheet" href="../_common/base.css">
  <link rel="stylesheet" href="../_common/temp.css">
  <link rel="stylesheet" href="style.css">

  <!-- <script src="script.js" defer></script> -->
  <script src="../_common/temp.js" defer></script>

  <title>Pacer - Add Activity</title>
</head>

<body id="body">
  <header>
    <a href="../activities/index.html">◁ Activities</a>
    <h1>Add Activity</h1>  
  </header>

  <main>
    <form action="javascript:">
      <label>
        Activity Title:
        <input type="text" name="title">
      </label>

      <div>
        <button onclick="location.href='../activities/index.html'">Add this</button>
        <button onclick="location.href='../activities/index.html'">Cancel</button>
      </div>
    </form>
  </main>
</body>

</html>
